.cart {
    background: rgba(255, 153, 0, 0.3);
    padding: 25px;
}

.cart h6 {
    font-size: 21px;
}
.calculation {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}